.slideItem {
  display: flex;
  width: 90%;
  height: 100%; /* Slider.module.css の高さに依存 */
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.imageBox {
  flex: 7;
  background-size: cover;
  background-position: center;
}

.textBox {
  flex: 3;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 12px;
  font-weight: bold;
}

.description {
  font-size: 1rem;
  line-height: 1.4;
}
